{% extends 'main/layout.html' %}

{% block title %}Добавить книгу{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}


        <a href="{% url 'admin_addwriter' %}" class="addwriter_link"></a><br><br>

<div class="features">
    <h1>Добавить книгу</h1>
        <<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ booksform.bookname }}<br>
        {{ booksform.writer }}<br>
        {{ booksform.genre }}<br>
        {{ booksform.language }}<br>
        {{ booksform.pageamount }}<br>
        {{ booksform.bookamount }}<br>
        {{ booksform.registrationnumber }}<br>
        {{ booksform.bookannotation }}<br>
        {{ booksform.cover }}<br>
        <button class=" btn btn-success" type="submit">Добавить книгу</button>
    </form>
</div>
{% endblock %}
