{% extends 'main/layout.html' %}

{% block title %}Добавить книгу{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}




<div class="features">
    <h1>Добавить книгу</h1>
                <div class="add_links">
     <a href="{% url 'admin_addwriter' %}" class="add_link">Добавить автора</a>
    <a href="{% url 'admin_addgenre' %}" class="add_link">Добавить жанр</a>
    <a href="{% url 'admin_addlanguage' %}" class="add_link">Добавить язык</a>
    </div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ booksform.bookname }}<br>
        {{ booksform.writer }}<br>
        {{ booksform.genre }}<br>
        {{ booksform.language }}<br>
        {{ booksform.pageamount }}<br>
        {{ booksform.bookamount }}<br>
        {{ booksform.registrationnumber }}<br>
        {{ booksform.bookannotation }}<br>
        {{ booksform.cover }}<br>
        <button class=" btn btn-success" type="submit">Добавить книгу</button>
    </form>
</div>
{% endblock %}
