{% extends 'main/layout.html' %}

{% block title %}Добавить книгу{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html' %}
{% endblock %}

{% block content %}
    <div class="addbook">
    <div  method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <h1>Добавить книгу</h1>
                <p>{{ error }}</p><br><br><br>
        </div>
        <div class="form-group">
            {{ booksform.bookname }}
        </div>

        <div class="form-group">
            <div class="input-with-link">
                {{ booksform.writer }}
                <a class="btn btn-info btn-sm" href="{% url 'admin_addwriter' %}">+</a>
            </div>
        </div>

        <div class="form-group">
            <div class="input-with-link">
                {{ booksform.genre }}
                <a class="btn btn-info btn-sm" href="{% url 'admin_addgenre' %}">+</a>
            </div>
        </div>

        <div class="form-group">
            <div class="input-with-link">
                {{ booksform.language }}
                <a class="btn btn-info btn-sm" href="{% url 'admin_addlanguage' %}">+</a>
            </div>
        </div>

        <div class="form-group">
            {{ booksform.pageamount }}
        </div>

        <div class="form-group">
            {{ booksform.bookamount }}
        </div>

        <div class="form-group">
            {{ booksform.registrationnumber }}
        </div>

        <div class="form-group">
            {{ booksform.bookannotation }}
        </div>

        <div class="form-group">
            {{ booksform.cover }}
        </div>
        <button class="btn btn-success" type="submit">Добавить книгу</button>
    </div>
    </form>
</div>

<style>
    .form-group {
        margin-bottom: 1em;
    }

    .input-with-link {
        display: flex;
        align-items: center;
    }

    .input-with-link a {
        margin-left: 1em;
    }
</style>
{% endblock %}