{% extends 'main/layout.html' %}

{% block title %}Добавить писателя{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}
<div class="addbook">
    <h1>Добавить писателя</h1><br><br><br><br>
    <form method="post">
        {% csrf_token %}
        {{ writersform.writername }}<br>
        <button class=" btn btn-success" type="submit">Добавить автора</button>
        {% if error %}
        <br><br><div class="alert alert-dark w-100" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    </form>

</div>
{% endblock %}
