{% extends 'main/layout.html' %}

{% block title %}Все книги{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}



<div class="features">
    <form method="post" class BookSearchForm>
    <input type="text" placeholder="Название книги" name="booknamesearch">
    <button class=" btn btn-success" type="submit">Поиск</button>
    </form>
    <h1>Все книги</h1>
    {% for book in books %}
        <h3>{{ book.bookname}}</h3>
        <img src="{{ book.cover.url }}" alt="Book Cover">
    {% endfor %}

</div>
{% endblock %}
