{% extends 'main/layout.html' %}

{% block title %}Архив{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}
    <h1>Архив</h1>
        {% with messages as messages %}  {% if messages %}
            {% for message in messages %}
                    <div class="row justify-content-center">
                <div class="alert alert-dark w-75 " role="alert">
                 {{message }}
                </div>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="book_list" style="float: left">
        {% for book in books %}
            <ul>
            <li>
                <div class="card">
                <img src="{{ book.cover.url }}" alt="Book Cover">
                <div class="container">
                        <b><a style="margin:-20px 0px 15px 0px; text-decoration: none;"  href="{% url 'admin_restorebook' book_id=book.id %}">
        <i class="bi bi-arrow-clockwise text-success"style="font-size: 1.0em;">Вернуть</i></a></b>
                </div>
            </div>
            </li>
            </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}
