{% extends 'main/layout.html' %}

{% block title %}Результат поиска{% endblock %}
{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}
<div class="features">
    <h1>Поиск</h1>
    <form method="post" action="admin_searchresult">
        {% csrf_token %}
        <p>{{ booksearchform.bookname}}</p>
    <button class=" btn btn-success" type="submit">Искать</button>
    </form>
{% if books %}
        <h2>Search Results</h2>
        <ul>
            {% for book in books %}
                <li>{{ book.bookname }}</li>
                <!-- Add more book details here if needed -->
            {% endfor %}
        </ul>

    {% endif %}
</div>
{% endblock %}
