{% extends 'main/layout.html' %}

{% block title %}Все книги{% endblock %}

{% block aside_links %}
{% include 'main/admin_links.html'%}
{% endblock %}

{% block content %}
    <div class="features_books">

           <h1>{{book.bookname}}</h1>
              <h2>{{book.writer}}</h2>
                <h3>{{book.genre}}</h3> <br><br>
    <a href="{% url 'admin_deletebook' book_id=book.id %}" class="delete_link">Удалить</a>
    <a href="{% url 'admin_editbook' book_id=book.id %}" class="edit_link">Редактировать</a>
                <div class="book_details">
                    <div class="card_bookphoto">
                        <img src="{{ book.cover.url }}" alt="Book Cover">
                    </div>
                    <div class="card_bookannotation">
                        <p>{{ book.bookannotation }}</p>

                </div>








    </div>

{% endblock %}
