{% extends 'main/layout.html' %}

{% block title %}Все книги{% endblock %}

{% block aside_links %}
{% include 'main/user_links.html'%}
{% endblock %}

{% block content %}
<h1>Все книги</h1>
    <div class="booksearch_list">
        {% for book in books %}
            <ul>
            <li>
                <div class="card">
                <img src="{{ book.cover.url }}" alt="Book Cover">
                <div class="container">
                    <a style="font-size: 15px;" class="btn btn-info btn-sm " href="{% url 'user_bookdetails' book_id=book.id %}" class="book_link">Перейти к книге</a>
                </div>
            </div>
            </li>
            </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}
