{% extends 'main/layout.html' %}

{% block title %}Все книги{% endblock %}

{% block aside_links %}
{% include 'main/user_links.html'%}
{% endblock %}

{% block content %}

    <div class="features_books">


           <h1>{{book.bookname}}</h1>
            <h3>{{book.writer}}</h3>
            <h2>{{book.genre}}</h2> <br><br>

        {% with messages as messages %}  {% if messages %}
            {% for message in messages %}
                    <div class="row justify-content-center">
                <div class="alert alert-dark w-75 " role="alert">
                 {{message }}
                </div>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}


                <div class="book_details">
                    <div class="card_bookphoto">
                        <img src="{{ book.cover.url }}" alt="Book Cover">
                         <div class="container" style="display: flex; margin-top:0px;">

        <a  class="btn btn-success btn-sm customSizeButton1 " href="{% url 'user_borrowbook' book.id %}">Заказать</a>
        <a class="btn btn-success btn-sm customSizeButton2 " href="{% url 'user_reservebook' book.id %}" >Зарезервировать</a>
                    </div>
                    </div>

                    <div class="card_bookannotation">
                        <p>{{ book.bookannotation }}</p>
                        <br><p>{{ book.bookamount }}</p><br>

                    </div>
                </div>



    </div>

{% endblock %}

<!--
<script>
    function borrowBook(bookId) {
        sendRequest(bookId, '{% url "user_borrowbook" %}');
    }

    function reserveBook(bookId) {
        sendRequest(bookId, '{% url "user_reservebook" %}');
    }

    function sendRequest(bookId, url) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url + bookId, true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Handle successful response, if needed
                window.location.reload(); // For example, reload the page after successful request
            }
        };
        xhr.send();
    }
</script>

-->