
{% extends 'main/layout.html' %}

{% block title %}Мои книги{% endblock %}

{% block aside_links %}
{% include 'main/user_links.html'%}
{% endblock %}

{% block content %}
<h1>Взятые книги</h1>
<div class="booksearch_list">
{% with messages as messages %}  {% if messages %}
{% for message in messages %}
<div class="row justify-content-center">
    <div class="alert alert-dark w-75 " role="alert">
     {{message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>

<div class="booksearch_list">
    {% for borrowedbook in borrowedbooks %}
    <ul>
    <li>
        <div class="card">
            <img src="{{ borrowedbook.book.cover.url }}" alt="Book Cover">
            <div class="container">
                <a style="font-size: 15px;" class="btn btn-info btn-sm "  href="{% url 'user_returnbook' borrowedbook.book.id %}" class="book_link">Вернуть</a>
            </div>
        </div>
    </li>
    </ul>
{% endfor %}
</div>

<h1>Зарезервированные книги</h1>
<div class="booksearch_list">
{% for reservedbook in reservedbooks %}
<ul>
   <li>
       <div class="card">
           <img src="{{ reservedbook.book.cover.url }}" alt="Book Cover">
           <div class="container">
           </div>
       </div>
   </li>
</ul>
{% endfor %}
</div>
{% endblock %}
