
{% extends 'main/layout.html' %}

{% block title %}Мои книги{% endblock %}

{% block aside_links %}
{% include 'main/user_links.html'%}
{% endblock %}

{% block content %}



<div class="features_books">

    <h1>{{ message }}</h1>
{% with messages as messages %}  {% if messages %}
                {% for message in messages %}
                <p><b>{{ message }}</b></p>
                {% endfor %}
        {% endif %}
        {% endwith %}
   <h1>Взятые книги</h1>
   <div class="book_list">
       {% for borrowedbook in borrowedbooks %}
       <ul>
           <li>
               <div class="card">
                   <img src="{{ borrowedbook.book.cover.url }}" alt="Book Cover">
                   <div class="container">

                       <a href="" class="book_link">Сдать книгу</a>
                   </div>
               </div>
           </li>
       </ul>
       {% endfor %}
   </div>
</div>

<div class="features_books">

   <h1>Зарезервированные книги</h1>
   <div class="book_list">
       {% for reservedbook in reservedbooks %}
       <ul>
           <li>
               <div class="card">
                   <img src="{{ reservedbook.book.cover.url }}" alt="Book Cover">
                   <div class="container">

                   </div>
               </div>
           </li>
       </ul>
       {% endfor %}
   </div>
</div>

{% endblock %}
