
{% extends 'main/layout.html' %}

{% block title %}Мои книги{% endblock %}

{% block aside_links %}
{% include 'main/user_links.html'%}
{% endblock %}

{% block content %}

<div class="features_books">
   <h1>Взятые книги</h1>

        {% with messages as messages %}  {% if messages %}
            {% for message in messages %}
                <i class="fa-solid fa-message-text">{{ message }}</i>
            {% endfor %}
        {% endif %}
        {% endwith %}


   <div class="book_list">
       {% for borrowedbook in borrowedbooks %}
<ul>
    <li>
        <div class="card">
            <img src="{{ borrowedbook.book.cover.url }}" alt="Book Cover">
            <div class="container">
                <a href="{% url 'user_returnbook' borrowedbook.book.id %}" class="book_link">Вернуть</a>
            </div>
        </div>
    </li>

</ul>
{% endfor %}
   </div>
</div>

<div class="features_books">

   <h1>Зарезервированные книги</h1>
   <div class="book_list">
       {% for reservedbook in reservedbooks %}
       <ul>
           <li>
               <div class="card">
                   <img src="{{ reservedbook.book.cover.url }}" alt="Book Cover">
                   <div class="container">

                   </div>
               </div>
           </li>
       </ul>
       {% endfor %}
   </div>
</div>

{% endblock %}
