{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block aside_links %}
{% include 'main/main_links.html'%}
{% endblock %}

{% block content %}

<div class="features_info">
    <h1>{{ title }}</h1>
    <p><p>
        <b>Время чтения:</b><br>
        Книги выдаются на стандартный срок до 3 недель. Возможно продление срока на 1 неделю до максимального срока
        в 6 недель для зарегестрированных членов "клуба читателей".<br><br>
        <b>Штрафы:</b><br>
        Если книга не возврашена во время, читателю назначается штраф.
        <ul id="fines_list">
            <li>В первую неделю штраф составялет 10 рублей в день.</li>
            <li>Во вторую неделю штраф составляет 15 рублей в день.</li>
            <li>В третью неделю штраф составляет 20 рублей в день.</li>
        </ul>
        Если книга не возвращается в течение 9 недель с момента взятия, читатель не может больше брать книги. <br><br>
        <b>Клуб читателей:</b><br>
        Стоимость членства в клубе читателей составляет 1000 рублей в год или 100 рублей в месяц.<br>
        Члены клуба получают возможность поучать дайджесты о новых событиях или книгах. Если член клуба хочет взять
        книгу, которая недоступна в нашем филлиале, то он может зарезервировать ее и получить, как только она будет
        доставлена.<br>
        Более детальная информация будет доступна при оформлении членской подписки.<br><br>
        <b>Контакты:</b><br>
        Адрес:
        633162, Новосибирская область, р. п. Колывань, ул. Советская, 40<br>
        Телефон: +7(383-52)52-659<br>
        E-mail: kolyvan_bib@sibmail.ru
    </p>
    </p>
    {% comment %}<button class="btn btn-warning">На страницу про нас</button>{% endcomment %}


</div>

{% endblock %}