<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>
    OK, now, finally, full login is ready.
    Next step tables. Before i go to all table, need only Writers: make model, make form, make app books, 2 pages book list and addbook and add writers: 
    finished testing items list and adding items based on Writers model.
    Next: do the same for books: model, form, views fucntion and proper addbook.html. But tomorrow
    2024.04.23: added Books model. Next add books form: modify template addbooks(currently for Writers), add views, prepare template for adding books
    First, create template for add Writer



</p>
</body>
</html>