<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>
    OK, now, finally, full login is ready.
    Next step tables. Before i go to all table, need only Writers: make model, make form, make app books, 2 pages book list and addbook and add writers: 
    finished testing items list and adding items based on Writers model.
    Next: do the same for books: model, form, views fucntion and proper addbook.html. But tomorrow
    2024.04.23: added Books model. Next add books form: modify template addbooks(currently for Writers), add views, prepare template for adding books
    First, create template for add Writer and change all links and names: done.
    Now it is time first to modify views:done;
    created templates for writer, genre and language, added views and forms, modified templates
    Now i can view list of books, add books, writers, genres and languages.
    EVerything works BUT later need to work on CSS.
    on hold: when adding book, writer genre or language check if it is already there
    Next: realize search bookЖ
        done: added book search and search results on one page (currently done only by bookname, need to add by writer)
    add book cards

    Next: find how link to a book details. Done. linkto  book details in visual appearance are finished.
    Next, delete book, edit book: done, beauty with CSS later
    What else admin need to do?

    book deletion: added parameter deletion_requested, when deletion is not possible due to borrow or reserve,
    deletion_requested changes to True=>
    Book reserve need to check if deleteion requested, if yes, then cannot not borrow: done
    The same for reserve: done
    Next: let's do soft deletion.
        First lets add to model field is_deleted. Done, then put filter in user/allbooks is_deleted=false.
            If True it will not be shown to user: done
        How to show to admin that book is deleted? Add in book details for admin message that book either deleted or exists: done.
        Added message for user that books cannot be anymore odered or reserved: done
            now it is first checking for deletion or request.=> even if alredy in borrow for user, allows to try to trder, need to change stayus check after checking inborrow or in reserve
        When book is deleted, change requested for deletion to false: done
        General: split CSS by templates (structured)
        Now i


</p>
</body>
</html>